<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
<head>
  <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->
   <script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Recipe",
  "name": "Grandma's Holiday Apple Pie",
  "author": "Elaine Smith",
  "image": "http://images.edge-generalmills.com/56459281-6fe6-4d9d-984f-385c9488d824.jpg",
  "description": "A classic apple pie.",
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4",
    "reviewCount": "276",
    "bestRating": "5",
    "worstRating": "1"
  },
  "prepTime": "PT30M",
  "totalTime": "PT1H",
  "recipeYield": "8",
  "nutrition": {
    "@type": "NutritionInformation",
    "servingSize": "1 medium slice",
    "calories": "230 calories",
    "fatContent": "1 g",
    "carbohydrateContent": "43 g"
  },
  "recipeIngredient": [
    "1 box refrigerated pie crusts, softened as directed on box",
    "6 cups thinly sliced, peeled apples (6 medium)",
    "..."
  ],
  "recipeInstructions": [
    "1...",
    "2..."
   ]
}
</script>
   <% if (htmlWebpackPlugin.options.trackJSToken) { %>
   <script>window._trackJs = {token: '<%= htmlWebpackPlugin.options.trackJSToken %>'};</script>
   <script src="https://d2zah9y47r7bi2.cloudfront.net/releases/current/tracker.js"></script>
  <% } %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8"/>
  <meta http-equiv="content-language" content="en-us" />
  <meta name="author" content="Kwangala Work Network" />
  <meta name="description" content="We are committed to supplying affordable reliable short term contract workers in Nigeria" />
  <meta name="keywords" content="Jobs in Nigeria, Jobs in Kano, Jobs in Lagos, Jobs in Enugu, Jobs in Port Harcout, Jobs in Aba,
Job seeking in Kano, Job seeking in Nigeria, Job seeking in Lagos, Job seeking in Enugu,
Job seeking in Aba, Job seeking in Port Harcout, Looking for a mechanic in Nigeria, Looking for a mechanic in Kano, 
Looking for a mechanic in Lagos, Looking for a mechanic in Enugu, Looking for a mechanic in Aba, Looking for a 
mechanic in Port Hacout, I need a sales girl in Kano, I need a sales girl in Lagos, I need a sales girl in Aba, 
I need a sales girl in Port Harcout, I need a sales girl in Asaba, I need a sales girl in Kaduna, 
I need a driver in Kano, I need a driver in Ibadan, I need a driver in Akure, I need a driver in Ijebu Ode, 
I need a driver in Enugu, I need a driver in Azare,  want to hire a hacker in Nigeria,  want to hire a hacker in 
Lagos, want to hire a hacker in Enugu, want to hire a hacker in Lafia, I want to hire a hacker in Kano, Web 
designer in Kano, Web designer in Lagos, Web designer in Enugu, Web designer in Nigeria, Web developer in Kano, 
Web developer in Abuja, Web developer in Lagos, Web developer in Enugu, Web developer in Nigeria, Web developer 
in Port Harcout, Phone app developer in Kano, Human Resources in Kano, Human Resources in Onitsha, Human Resources 
in Enugu, Human Resources in Abuja, Human Resources in Kaduna, Programmer in Nigeria, Programmer in Kano, 
Programmer in Lagos, Programmer in Abuja,Programmer in Enugu" />
  <meta name="google-site-verification" content="nAhpfrp2mmjy4gT856T06BX6-RPGuj5-jdN_viJHsDg" />
  <title>Kwangala Work Network</title>
</head>
<body>
<div id="app"></div>
</body>
</html>
